html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

img {
    max-width: 100%;
    display: block;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

button:hover {
    opacity: .8;
    cursor: pointer;
  }

#button-container {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    #button-container {
        flex-direction: row;
    }
}

.mbsc-scroller-wheel-item {
   position: inherit !important;
}

.mbsc-material.mbsc-textfield-wrapper {
    border-radius: 20px;
    margin: 0px 0px !important;
    font-size: clamp(10px, 0.8rem, 12px);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: clamp(10px, 4vw, 35px);
    padding-right: clamp(10px, 4vw, 35px);
}