html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

* {
    box-sizing: border-box;
}

a {
    color: #0070f3;
    text-decoration: none;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

img {
    max-width: 100%;
    display: block;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

#button-container {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

@media screen and (min-width: 500px) {
    #button-container {
        flex-direction: row;
    }
}

.mbsc-scroller-wheel-item {
   position: inherit !important;
}

.mbsc-material.mbsc-textfield-box.mbsc-select {
    border-radius: 20px;
    background: transparent;
}

.mbsc-material.mbsc-textfield-inner-box {
    background: transparent !important;
    border-radius: 20px;
}

.mbsc-material.mbsc-label-box-floating.mbsc-ltr, 
.mbsc-material.mbsc-label-outline-floating.mbsc-ltr {
    font-size: clamp(10px, 0.8rem, 12px) !important;
}

.mbsc-material.mbsc-select-icon-floating {
    top: 1.4em !important;
}

.mbsc-textfield-ripple {
    display: none;
}

#languagesSelector {
    margin: 5px;
}

.mbsc-material.mbsc-textfield-wrapper {
    margin: 0px !important;
}

#inputbox {
    margin: 0 5px;
    max-width: 100%;
}

.mbsc-material.mbsc-select.mbsc-ltr {
    height: 38px !important;
}

.mbsc-material.mbsc-label-box-floating {
    top: 0.8em !important;
}

.mbsc-material-dark.mbsc-textfield-inner-box {
    background: #1a73e8 !important;
    border-radius: 0px !important;
    padding-bottom: 0px;
}

.mbsc-material-dark.mbsc-textfield {
    height: 50px !important;
    font-size: 18px !important;
}

.darkmode-class {
    background-color: #333333 !important;
    color: white;
}